<table>
    <tbody>
        <tr class="row" >
<td class = "name" colspan= "3" ><h2 class="country-name">{{name}}</h2></td>
</tr>
<tr class="row">
<td class="name" ><h3>Capital:</h3></td>
<td class="name" ><h3>Population:</h3></td>
<td class="name" ><h3>Languages:</h3></td>
</tr>
<tr class="row">
<td class="value">{{capital}}</td>
<td class="value">{{population}}</td>
<td class="value">
    <ul class="languages">{{#each languages}}<li class="language-item">{{this.name}}
        </li>{{/each}}
    </ul>
</tr>
<tr  class="row">
<td colspan= "3" class="country-flag"> <img  src="{{flag}}" alt="{{name}}" /> </td>
</tr>
    </tbody>
</table>

